@using DesignPattern.CQRS.CQRSPattern.Results;

@model GetProductByIdQueryResult
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <form method="post">
        <label>Product Name</label>
        <input type="text" class="form-control" asp-for="Name" disabled/>
        <br />
        <label>Price</label>
        <input type="number" class="form-control" asp-for="Price" disabled />
        <br />
        <label>Stock</label>
        <input type="number" class="form-control" asp-for="Stock" disabled />
        <br />
        <label>Description</label>
        <input type="text" class="form-control" asp-for="Description" disabled />
        <br />
    </form>
</div>
